body{
background:#F9F7ED;
}

nav {
    position : absolute;
    left : 0;
    width : 100%;
    background : #333333;
}

nav ul {
    margin : 0 auto;
    width : 1000px;
    list-style : none;
}
    
nav ul li {
    float : left;
}

nav ul li a {
    display : block;
    margin-right : 20px;
    width : 140px;
    font-size : 14px;
    line-height : 44px;
    text-align : center;
    text-decoration : none;
    color : #ccc;
}
    
nav ul li a:hover {
    color : #fff;
}
    
nav ul li.selected a {
    color : #fff;
}

.table-responsive tr:hover{
  color: red;
}

th,td{
    border: 1px solid black;
}